<div class="hero-unit">
  <div align=center>
  <h2>Smart Search </h2>
    <p>
  <form class="form-search">
 <%= form_tag searchapps_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search],:class =>"span4 search-query" %>
    <%= submit_tag "Search" , :class => "btn btn-primary"%>
  </p>
<% end %>
  </form>
 </p>
  </div>
   
 
</div>



